.class {
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  &__image {
    position: relative;

    & .class__img-1 {
      position: absolute;
      right: 0;
      top: 0;
      max-width: 500px;
      border-radius: 10px;
    }

    & .class__img-2 {
      position: absolute;
      left: 0;
      bottom: 0;
      max-width: 300px;
      border-radius: 10px;
    }
  }

  &__content {
    padding: 2rem 0;

    & .section__header {
      text-align: left;
      max-width: 400px;
    }

    & p {
      margin-bottom: 4rem;
      color: var(--text-light);
    }
  }
}
